<div class="navbar">
    <div class="brand">Schaeffler Data Warehouse</div>
    <div class="login-container">
        <h2><i class="fas fa-user"></i> Login</h2>
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a routerLink="/registration">Register</a>
                <a routerLink="login.html">Login</a>
                <li><a routerLink="/registration">Login</a></li>

            </div>
        </div>
    </div>
    <div class="logo">
        <img src="https://raw.githubusercontent.com/Tanishkajagtap12/Data-Warehouse/30201b01fe1baa2c8934138edeefbc452a48b1f1/Schaeffler_frontend/schaeffler-logo.svg"
            alt="">
    </div>
</div>