<!-- quality-overview.component.html -->

<div class="panel-container">
    <h3>Quality Overview</h3>

    <table id="status-table">
        <thead>
            <tr>
                <th>Domain</th>
                <th>Topic</th>
                <th>Measures</th>
                <th>Responsible</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr data-domain="SYS">
                <td>Overall Status</td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td class="status-cell">
                    <div class="status-circle" data-status="red"></div>
                    <div class="status-circle" data-status="green"></div>
                    <div class="status-circle" data-status="yellow"></div>
                </td>
            </tr>
            <tr data-domain="SW">
                <td>Software</td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td class="status-cell">
                    <div class="status-circle" data-status="red"></div>
                    <div class="status-circle" data-status="green"></div>
                    <div class="status-circle" data-status="yellow"></div>
                </td>
            </tr>
            <tr data-domain="HW">
                <td>Hardware</td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td class="status-cell">
                    <div class="status-circle" data-status="red"></div>
                    <div class="status-circle" data-status="green"></div>
                    <div class="status-circle" data-status="yellow"></div>
                </td>
            </tr>
            <tr data-domain="other">
                <td>Other Domain</td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td class="status-cell">
                    <div class="status-circle" data-status="red"></div>
                    <div class="status-circle" data-status="green"></div>
                    <div class="status-circle" data-status="yellow"></div>
                </td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
