<!DOCTYPE html>
<html>

<head>
    <title>Cover Page</title>
    <link rel="stylesheet" type="text/css" href="cover-page.component.css">
</head>

<body>
    <div class="cover">
        <h1>Cover Page</h1>
        <div class="image">
            <img src="https://github.com/Tanishkajagtap12/Data-Warehouse1/blob/main/Schaeffler_frontend%20(2)/Schaeffler_frontend/Scar1.jpg?raw=true"
                alt="Cover Image">
        </div>
        
        <h2>Project Number - Project Name</h2>
        <h3>Project Status Report</h3>
        <h4></h4>
    </div>
</body>

</html>